@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
#root,
.app{
    height: 100%;
    width: 100%;
    font-family: 'Inter', sans-serif;
    @apply text-gray-500;
}